html, body, #root, #app, #app>div  {
  height: 100%;
  width: 100%;
  font-family: "Open Sans";
  font-size: 0.8rem;
  line-height: 1.3;
}

@media (min-width: 900px){

  html, body, #root, #app, #app>div{
    font-size: 0.9rem;
  }
 
}